@font-face {
    font-family:"Monaco for Powerline";
    src: url("MonacoforPowerline.otf");
}
.root{
    -fx-font-family: "Monaco for Powerline";
}

.dialog-pane {
    -fx-font-family: "Monaco for Powerline";
}
.dialog-pane .header-panel {
    -fx-background-color: red;
    -fx-font-family: "Monaco for Powerline";
}
